<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--    修改菜品    -->
    <update id="update">
        update dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>
    <!--    删除菜品    -->
    <delete id="deleteBatch">
        delete  from dish where id in
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--    列表查询    -->
    <select id="list" resultType="com.sky.vo.DishVO">
        select t1.*, t2.name categoryName from dish t1, category t2 where t1.category_id = t2.id
        <if test="name != null">
            and t1.name like concat('%',#{name},'%')
        </if>
        <if test="name != null">
            and t1.status = #{status}
        </if>
        <if test="categoryId != null ">
            and t1.category_id = #{categoryId}
        </if>
        order by update_time desc
    </select>
    <select id="selectById" resultType="com.sky.entity.Dish">
        select * from dish where id = #{id}
    </select>
</mapper>